{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1>Symfony playground</h1>
{% if user %}
        <strong>Hello {{user.username}}!</strong> 
        <p>
            That's the best day to do something, 
            now you can check some other options or you can just logout <a href="{{ path('security-logout') }}">here</a>
        </p>
    {% else %}
        <div id="app"></div>
    {% endif %}
</div>
{% endblock %}